<a href="https://colab.research.google.com/github/mharcoshungria/web_scraping_mercadolivre/blob/main/data_manipulation_mercadolivre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [13]:
df_ml = pd.read_csv('https://raw.githubusercontent.com/mharcoshungria/web_scraping_mercadolivre/main/dados_ml.csv', thousands='.')

In [14]:
df_ml.head()

   aluguel                  area_quarto zona
0     1100   64 m² construídos3 quartos  sul
1     1300    35 m² construídos1 quarto  sul
2     3500  100 m² construídos3 quartos  sul
3     1700   75 m² construídos2 quartos  sul
4     3270  100 m² construídos3 quartos  sul

In [15]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluguel      1152 non-null   int64
 1   area_quarto  1152 non-null   object
 2   zona         1152 non-null   object
dtypes: int64(1), object(2)
memory usage: 27.1+ KB

In [16]:
df_ml.describe().T

,count,mean,std,min,25%,50%,75%,max
aluguel,1152.0,10874.693576,199805.665785,680.0,1500.0,2300.0,4300.0,6750000.0

In [17]:
df_ml.isna().sum()

aluguel        0
area_quarto    0
zona           0
dtype: int64

In [18]:
df_ml.isnull().sum()

aluguel        0
area_quarto    0
zona           0
dtype: int64

In [19]:
df_ml['aluguel'] = df_ml['aluguel'].astype(float)

In [20]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluguel      1152 non-null   float64
 1   area_quarto  1152 non-null   object
 2   zona         1152 non-null   object
dtypes: float64(1), object(2)
memory usage: 27.1+ KB

In [21]:
linha0 = df_ml['area_quarto'][0]

In [22]:
linha0.split(sep=' m²')[0]

'64'

In [23]:
linha_inventada = ' 2 quartos'

In [26]:
if 'm²' in linha0:
  print(linha0.split(sep=' m²')[0])
else:
  print(np.nan)

64

In [27]:
if 'm²' in linha_inventada:
  print(linha_inventada.split(sep=' m²')[0])
else:
  print(np.nan)

nan

In [29]:
# type(np.nan)

In [30]:
def extrair_area(entrada):
  if 'm²' in entrada:
    area = entrada.split(sep=' m²')[0]
  else:
    area = np.nan
  return area

In [31]:
# df_ml()

In [32]:
df_ml['area'] = df_ml['area_quarto'].apply(extrair_area)

In [33]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluguel      1152 non-null   float64
 1   area_quarto  1152 non-null   object
 2   zona         1152 non-null   object
 3   area         1152 non-null   object
dtypes: float64(1), object(3)
memory usage: 36.1+ KB

In [34]:
linha0

'64 m² construídos3 quartos'

In [35]:
padrao = '(\d+)' # é uma expressão regular, um padrão - regex

In [36]:
import re

In [37]:
re.findall(padrao, linha0)[1]

'3'

In [38]:
def extrair_quarto(entrada):
  padrao = '(\d+)' 

  if 'quarto' in entrada:
    quarto = re.findall(padrao, entrada)[1]
  else:
    quarto = np.nan
  return quarto

In [39]:
df_ml['quarto'] = df_ml['area_quarto'].apply(extrair_quarto).astype(float)

In [40]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluguel      1152 non-null   float64
 1   area_quarto  1152 non-null   object
 2   zona         1152 non-null   object
 3   area         1152 non-null   object
 4   quarto       1117 non-null   float64
dtypes: float64(2), object(3)
memory usage: 45.1+ KB

In [41]:
df_ml = df_ml.drop('area_quarto', axis=1)

In [42]:
df_ml.head()

   aluguel zona area  quarto
0   1100.0  sul   64     3.0
1   1300.0  sul   35     1.0
2   3500.0  sul  100     3.0
3   1700.0  sul   75     2.0
4   3270.0  sul  100     3.0

In [ ]:
df_ml.to_csv('dados_limpos_ml.csv', index=False)