<a href="https://colab.research.google.com/github/mharcoshungria/web_scraping_mercadolivre/blob/main/web_scraping_mercadolivre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando bibliotecas:

from time import sleep
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
zonas = ['sul', 'norte', 'leste', 'oeste']
paginas = ['', '_Desde_49', '_Desde_97', '_Desde_145', '_Desde_193', '_Desde_241']

In [ ]:
# Criando função para acessar a url, coletar as informacoes, armazenar nas listas e depois juntar as listas em uma tabela

def coleta_dados(url, zona):
  res = requests.get(url).content
  sopa = BeautifulSoup(res)
  
  rs_precos = sopa.find_all('span', {'class': 'price-tag-fraction'})
  rs_areas_quartos = sopa.find_all('ul', {'class': 'ui-search-card-attributes ui-search-item__group__element'})

  lista_precos = []
  lista_areas_quartos = []
  lista_zonas = []
    
  for preco, area_quarto in zip(rs_precos, rs_areas_quartos):
    lista_precos.append(preco.text)
    lista_areas_quartos.append(area_quarto.text)
    lista_zonas.append(zona)
    
  dados = {'aluguel': lista_precos,
  'area_quarto': lista_areas_quartos,
  'zona': lista_zonas}
    
  df = pd.DataFrame(dados)

  return df

In [ ]:
lista_dfs = []

for zona in zonas: # print('Zona:', zona)
  for pagina in paginas: # print('Pagina:', pagina)
    url = f'https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-{zona}/{pagina}'
    print('Coletando dados de', url)
    df = coleta_dados(url, zona) # retorna o df 
    lista_dfs.append(df)
    sleep(2)

Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-sul/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-norte/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-leste/_Desde_241
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_49
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_97
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_145
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_193
Coletando dados de https://imoveis.mercadolivre.com.br/apartamentos/aluguel/sao-paulo/sao-paulo-zona-oeste/_Desde_241

In [ ]:
df_ml = pd.concat(lista_dfs, axis=0)

In [ ]:
df_ml.head()

  aluguel                  area_quarto zona
0   1.100   64 m² construídos3 quartos  sul
1   1.300    35 m² construídos1 quarto  sul
2   3.500  100 m² construídos3 quartos  sul
3   1.700   75 m² construídos2 quartos  sul
4   3.270  100 m² construídos3 quartos  sul

In [ ]:
df_ml.shape

(1152, 3)

In [ ]:
type(df_ml['aluguel'])

pandas.core.series.Series

In [ ]:
type(df_ml['aluguel'].values)

numpy.ndarray

In [ ]:
type(df_ml['aluguel'].values[0])

str

In [ ]:
df_ml.to_csv('dados_ml.csv', index=False)

In [3]:
pd.read_csv('https://raw.githubusercontent.com/mharcoshungria/web_scraping_mercadolivre/main/dados_ml.csv', thousands='.')

      aluguel                  area_quarto   zona
0        1100   64 m² construídos3 quartos    sul
1        1300    35 m² construídos1 quarto    sul
2        3500  100 m² construídos3 quartos    sul
3        1700   75 m² construídos2 quartos    sul
4        3270  100 m² construídos3 quartos    sul
...       ...                          ...    ...
1147    10000  337 m² construídos4 quartos  oeste
1148     2800  147 m² construídos3 quartos  oeste
1149     8000  370 m² construídos5 quartos  oeste
1150     3200   78 m² construídos3 quartos  oeste
1151     3700  144 m² construídos4 quartos  oeste

[1152 rows x 3 columns]